.panel-default>.panel-rojo {
	background-color: white;
	border-color: #B87272;
	border-width: medium;
	text-aling: left;
	border-radius: 5px;
}

.panel-body.panel-rojo {
	background-color: white; /*#FFE8E8;*/
}

.well {
	border-radius: 10px;
}

.list-div {
	background-color: #f5f5f5;
	border: 1px solid grey;
	margin: 3px;
	border-radius: 5px;
}

.sub-panel>.panel-rojo {
	background-color: #EBC5C5;
	border-color: #EBC5C5;
	border-width: thin;
}

.panel-body.panel-verde {
	background-color: white; /*#EBF7E9;*/
}

.panel-default>.panel-azul {
	background-color: white;
	border-color: #7290B8;
	border-width: medium;
}

.panel-body.panel-azul {
	background-color: #DDE2EF;
}

.panel-default>.panel-heading>.panel-title {
	font-weight: bold;
}

.sub-panel>.panel-heading>.panel-title {
	font-weight: bold;
	font-size: 12px;
}

.panel-title {
	color: #302F2F;
	text-align: left;
}

.panel {
	border-color: white;
}

.panel-default>.panel-verde {
	background-color: white;
	border-color: #E67070; /*#B87272; /* #72B883;*/
	border-width: medium;
	border-radius: 5px;
}

.sub-panel>.panel-verde {
	background-color: #E67070; /*#EC4848;/* #BFE1BE;/*#BCF1B3;*/
	border-color: #E67070;
	border-width: thin;
}

.sub-panel>.panel-azul {
	background-color: #A4B5EF;
	border-color: #7290B8;
	border-width: thin;
}

.sub-panel>.panel-heading>.panel-title a {
	color: #302F2F;
	font-weight: bold;
}

.sub-panel>.panel-body {
	/*background-color: #E6E6E6; /*#D8D8D8;*/
	border-radius: 5px;
	background: -webkit-linear-gradient(top, #BFE1BE, #90A48F);
	background: -moz-linear-gradient(bottom, #C6C7C5, #F5F5F5);
	background: -o-linear-background(top, black, white);
	background: -ms-linear-background(top, #BFE1BE, #90A48F);
	background: linear-background(top, #BFE1BE, #90A48F);
	background: -o-linear-background(top, #BFE1BE, #90A48F);
}

.sub-panel {
	color: grey;
}

.navbar-inverse {
	background-color: grey;
	border-color: grey;
}

#panelControl a {
	color: white;
	font-weight: bold;
}

#panelControl a:hover {
	color: grey;
	font-weight: bold;
}

#opcionesUsuario a {
	color: white;
	font-weight: bold;
}

#opcionesUsuario a:hover {
	color: grey;
	font-weight: bold;
}

#usuarios a {
	color: white;
	font-weight: bold;
}

#usuarios a:hover {
	color: grey;
	font-weight: bold;
}

#logo a {
	padding: 10px 15px;
	color: #CF0505; /*#72B899;*/
}

#logo a:hover {
	color: #CF0505; /*#72B899;*/
}

/*Barra menu usuario*/
#usuarios .dropdown-menu {
	min-width: 300px;
}

#usuarios .dropdown-menu a {
	color: red;
	font-weight: normal;
}

#usuarios .dropdown-menu {
	border-radius: 10px;
	border: 1px solid;
	border-color: grey;
}

#opcionesUsuario .dropdown-menu a {
	color: black;
	font-weight: bold;
}

.menuUsuario div{
	height:30px;
}

.menuUsuario{
	border: 1px solid grey;
    border-radius: 10px;
}

::-webkit-input-placeholder { /* WebKit browsers */
	font-style: italic;
	font-size: 12px;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-style: italic;
	font-size: 12px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-style: italic;
	font-size: 12px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	font-style: italic;
	font-size: 12px;
}

.titulo {
	font-weight: bold;
}

.fond {
	background-color: #8CAC8C;
}

.fondo {
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white),
		to(black));
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-radial-gradient(ellipse, #BFE1BE, #90A48F);
	/* Firefox 3.6+ */
	background: -moz-radial-gradient(ellipse, #C5DCC5, #C5DCC5);
	/* Opera 11.10+ */
	background: -o-radial-background(ellipse, #BFE1BE, #90A48F);
	/* IE 10 */
	background: -ms-radial-background(ellipse, #BFE1BE, #90A48F);
	/* estándar */
	background: radial-background(ellipse, #BFE1BE, #90A48F);
	background: -o-radial-background(ellipse, #BFE1BE, #90A48F);
}

.color {
	background-color: #F2F2F2;
	padding-top: 20px;
}

#container {
	padding-top: 10px;
}

body {
	background-color: white;
	font-size: 12px;
}

body a {
	font-size: 12px;
}

.noPadLeft {
	padding-left: 0px;
}

.noPadRight {
	padding-right: 0px;
}

.table {
	margin-bottom: 0px;
}

.altoMaximo {
	max-height: 500px;
	overflow: auto;
}

.progress{
	margin-bottom: 0px;
}

.colCentered{
    float: none;
    margin: 0 auto;
}

/*Panel de control*/
#panelControl .dropdown-menu {
	border-radius: 10px;
	border: 1px solid;
	border-color: grey;	
}

#panelControl .dropdown-menu div{
	height:30px;
}

#menuLocalGestion  a{
	color: black;
	font-weight: bold;
}