.panel-default>.panel-rojo {
	background-color: white;
	border-color: #B87272;
	border-width: medium;
}

.panel-default>.panel-verde {
	background-color: white;
	border-color: #72B883;
	border-width: medium;
}

.panel-default>.panel-azul {
	background-color: white;
	border-color: #7290B8;
	border-width: medium;
}

.panel-default>.panel-heading>.panel-title {
	font-weight: bold;
}

.sub-panel>.panel-heading>.panel-title {
	font-weight: normal;
}

.panel-title {
	color: black;
}

.panel {
	border-color: white;
}

.sub-panel>.panel-rojo {
	background-color: #B87272;
	border-color: #B87272;
	border-width: thin;
}

.sub-panel>.panel-verde {
	background-color: #72B883;
	border-color: #72B883;
	border-width: thin;
}

.sub-panel>.panel-azul {
	background-color: #7290B8;
	border-color: #7290B8;
	border-width: thin;
}

.sub-panel>.panel-heading>.panel-title a {
	color: black;
}

.sub-panel>.panel-body {
	background-color: #E0E0E0;
}

.nav {
	background-color: #291E1E;
}

#panelControl a {
	color: white;
}

#panelControl a:hover {
	color: #291E1E;
}

body {
	background-color: #FFF5F5;
}