.colorActivo{
	color:#72B883;
}

.colorDesactivo{
	color:#B87272;
}

.cuadroDia{
	border:1px solid grey;	
	padding-top:4px;
	padding-bottom:4px;
}

.numeroDia{
	text-align:right;
	padding-right:8px;
	color:black;
	font-weight:bold;
}

.diaSemana{
	text-align:right;
	padding-right:8px;
}

.mesAno{
	text-align:center;	
	padding-bottom:8px;
}